.ContainerCreateUser{
    display: flex;
    background-color: rgba(18, 20, 43, 0.800);
    margin: 10% 5%;
    color: white;
    padding: 5%;
    border-radius: 15px;
    font-size: 2rem;
    font-family: Clarity city,sans-serif;
}
@media screen and (max-width: 767px){
    .ContainerCreateUser{
        margin: 20% 5%;
    }
}
.BackGround{
    display: flex;
    background-size:70rem;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10%;
}
.form-control{
    display: flex;
    position: relative;
    font-size: 2rem;
    font-family: Clarity city,sans-serif;
    background-color: rgba(255, 255, 255, 0.800);
    margin: 0;
}
.invalid-tooltip{
    font-size: 1.5rem;
    background-color: rgba(255, 0, 0, 0.7);
}
.btn-primary{
    background-color: rgba(255, 0, 0, 0.8);
    border: none;
    font-size: 2rem;
}
.btn-primary:hover{
    background-color: rgb(150, 0, 0);
}