.sidebar {
  margin: -5% 0;
  padding: 0;
  width: 200px;
  background-color: hsla(0, 0%, 100%, 0);
  position: fixed;
  height: 43.75rem;
  overflow: auto;
  font-family: Clarity City, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

.sidebar li .links {
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
}

.sidebar>li .links {
  float: center;
}

.sidebar li ul {
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 5px 5px 1rem;
}

.sidebar li:hover>ul {
  display: block;
  transition: 2s;
}

.sidebar button {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  width: 100%;
  background-color: rgba(18, 20, 43, 0.800);
  text-decoration: none;
}

.sidebar button.secondaryButton {
  display: block;
  color: rgb(0, 0, 0);
  padding: 16px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

.sidebar button:hover:not(.active) {
  background-color: rgba(18, 20, 43);
  transition: 200ms;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

ul,
li {
  list-style: none;
}

@media screen and (max-width: 799px) {
  .sidebar {
    display: flex;
    margin: 10% 0;
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar>li .links {
    display: block;
    position: absolute;
  }

  .sidebar li {
    display: flex;
    width: 100%;
    background-color: white;
  }

  .sidebar button {
    flex-direction: row;
  }

  div.content {
    margin-left: 0;
  }
}