.sidebar {
  margin: 70px 0;
  padding: 0;
  width: 200px;
  background-color: hsla(0, 0%, 100%, 0.8);
  position: fixed;
  height: 43.75rem;
  overflow: auto;
  font-family: Clarity City, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.sidebar button {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  width: 100%;
  background-color: rgba(18, 20, 43, 0.800);
  text-decoration: none;
  transition: 200ms;
}
 
.sidebar button.active {
  background-color: rgba(18, 20, 43);
  color: white;
}

.sidebar button:hover:not(.active) {
  background-color: rgba(18, 20, 43);
  transition: 200ms;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 799px) {
  .sidebar {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    
  }
  .sidebar button {flex-direction: row;}
  div.content {margin-left: 0;}
}
