
.grupomind{
    display: flex;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 10.9375rem;
    justify-content: center;
    align-items: center;
    background-color: #12142d;
}
.logosgrupo {
    display: flex;
    width: 20%;
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 0.125em solid #0f1125;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.linkcompany {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}
.companylogo.arkus {
    width: 60%;
    justify-content: center;
    align-items: center;
    height: auto;
    max-height: none;
    max-width: none;
    -webkit-filter: sepia(100%) brightness(200%) grayscale(100%);
    filter: sepia(100%) brightness(200%) grayscale(100%);
    -webkit-transition: 250ms;
    transition: 250ms;
}
.inSe:hover{
    background-color: #950808;
}


img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
* {
    box-sizing: border-box;
}
a {
    background-color: transparent;
    color: #000;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.companylogo.miche{
    width: 50%;
    height: auto;
    max-height: none;
    max-width: none;
    -webkit-filter: brightness(130%) grayscale(100%);
    filter: brightness(130%) grayscale(100%);
    -webkit-transition: 250ms;
    transition: 250ms;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.companylogo.impel{
    width: 50%;
    height: auto;
    max-height: none;
    max-width: none;
    -webkit-filter: brightness(200%) brightness(130%) grayscale(100%);
    filter: brightness(200%) brightness(130%) grayscale(100%);
    -webkit-transition: 250ms;
    transition: 250ms;
}
.companylogo.nexus{
    width: 60%;
    height: auto;
    max-height: none;
    max-width: none;
    -webkit-filter: brightness(130%) grayscale(100%);
    filter: brightness(130%) grayscale(100%);
    -webkit-transition: 250ms;
    transition: 250ms;
}
.companylogo.dynamo{
    width: 60%;
    height: auto;
    max-height: none;
    max-width: none;
    -webkit-filter: brightness(130%) grayscale(100%);
    filter: brightness(130%) grayscale(100%);
    -webkit-transition: 250ms;
    transition: 250ms;
}
.companylogo:hover{
    filter: none;
    transform: scale(1.1);
}
body{
    margin: 0%;
}