.mindnavbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    display: flex;
    height: 70px;
    align-items: center;
    background-color: #fff;
}
.mindnavbar.w-nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    display: flex;
    height: 70px;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.500);
}

.container-17 {
    display: block;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333;
}
@media screen and (max-width: 767px){
    .w-nav-brand {
        padding-left: 10px;
    }
}
.image-89 {
    width: 15rem;
    padding: 15px;
}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.w-nav-menu {
    position: relative;
    float: right;
}.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.mindnavlinks {
    padding-right: 40px;
    padding-left: 40px;
    transition: .3s;
    font-family: Clarity city,sans-serif;
    color: #12142d;
}

.mindnavlinks:hover{
    color: #ff0000;
    font-size: 1.7rem;
    font-weight: 700;
}