.members-form{
    margin: 10rem 17%;
    width: 80%;
    padding: 2rem;
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    max-width: 100rem;
    font-size: 1.5rem;
    background: rgba(18, 20, 43, 0.8);
    color: #fff;
}
.members-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

@media screen and (max-width: 799px) {
    .members-form{
        margin: 3rem auto;
        width: 95%;
        padding: 1rem;
        backdrop-filter: blur(4px);
        border: none;
        border-radius: 5px;
        background-color: #f1f1f1;
        max-width: 100rem;
        font-size: 1.5rem;
        background: rgba(18, 20, 43, 0.8);
        color: #fff;
    }
    .members-title{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
    }
}